.feynman__link {
    line-height: 51px;
    font-size: 36px;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: #2f80ed;
    position: absolute;
    transition: opacity 1s ease-in-out;
}
.feynman__link:hover {
opacity: 0.5;
cursor: pointer;
}